/*GENERAL STYLES*/
h1, h3, p, body {
	font-family:Roboto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*MAP STYLES*/
.map {
  background-color: white;
}

.map-label {
  fill: black;
  font-size: 30px;
}

.boroughs {
/*  stroke: black;
  stroke-width: 1px;*/
}

.borough-1 { fill: #ddc; }
.borough-2 { fill: #cdd; }
.borough-3 { fill: #cdc; }
.borough-4 { fill: #dcd; }
.borough-5 { fill: #becbdd; }

/*GRAPH STYLES*/
.axis path { fill: none; stroke: black; }
.axis line { stroke: black; }
.axis text { font-size: 10pt; }